==================================================================
https://keybase.io/drewfravert
--------------------------------------------------------------------

I hereby claim:

  * I am an admin of https://drewfravert.com
  * I am drewfravert (https://keybase.io/drewfravert) on keybase.
  * I have a public key ASCJiUdUz0-LHB8_0TNoQo7Ufkz0i55hIZSzI_SDoQOm2Qo

To do so, I am signing this object:

{
  "body": {
    "key": {
      "eldest_kid": "010116909673870eb63968d9fb0bd38e1a7d3857fabbf995add6f5c099217c03f40a0a",
      "host": "keybase.io",
      "kid": "012089894754cf4f8b1c1f3fd13368428ed47e4cf48b9e612194b323f483a103a6d90a",
      "uid": "fb2882a8ea3b35e96a53ffb383d94719",
      "username": "drewfravert"
    },
    "merkle_root": {
      "ctime": 1589915337,
      "hash": "c88b42267bebe1c652e6f8b82542f4fc62493c3ae20aab28f4a316eb387477ecf894f21b5091280fde741127172ddb6b68a4789e6cf033feae6fa8a1d890efa9",
      "hash_meta": "a18f093014bf3d56700e9fd86a166d4f9d4f29a9c486bf27cef61f45ff95483d",
      "seqno": 16348621
    },
    "service": {
      "entropy": "MklJP6tRTfIeOqS8jza2Ju5l",
      "hostname": "drewfravert.com",
      "protocol": "https:"
    },
    "type": "web_service_binding",
    "version": 2
  },
  "client": {
    "name": "keybase.io go client",
    "version": "5.4.2"
  },
  "ctime": 1589915362,
  "expire_in": 504576000,
  "prev": "19e0f16658f203f41436283d3961c5b58bf4edf76dd0b1d370f5a21dfdfa2f5b",
  "seqno": 17,
  "tag": "signature"
}

which yields the signature:

hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgiYlHVM9PixwfP9EzaEKO1H5M9IueYSGUsyP0g6EDptkKp3BheWxvYWTESpcCEcQgGeDxZljyA/QUNig9OWHFtYv07fdt0LHTcPWiHf36L1vEIHPSrgn2J0qtLM4fnKFqBlyj3iKv15m3CGcyFTAeR9sMAgHCo3NpZ8RA7ADcYlKz+VXQhzTl+9vkMkcwfqgrAuMtVIVVTyoNxIZ/F75MrrTicLGPJWVynS22LrjEICp0b9EyAyJCEvFOCahzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEIJ8c/1WLKc7zuyraiVRazhk0O7tJ1llVB6sMFs7T9yzZo3RhZ80CAqd2ZXJzaW9uAQ==

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/drewfravert

==================================================================
