Sitemap: <%= Routes.bot_page_url(@conn, :sitemap) %>

User-agent: *
Disallow: / <%# <- delete when ready for public crawling %>
Disallow: /pgp-key.txt
Disallow: /security

Disallow: /.well-known/
Disallow: /hello/
