Sitemap: <%= Routes.bot_page_url(@conn, :sitemap) %>

User-agent: *
Disallow: <%= Routes.bot_page_path(@conn, :security) %>
Disallow: <%= Routes.bot_page_path(@conn, :pgp_key) %>
Disallow: <%= Routes.public_page_path(@conn, :privacy) %>
Disallow: <%= Routes.public_status_path(@conn, :index) %>
Disallow: <%= Routes.public_page_path(@conn, :uses) %>
