/*
==========================================================================================
  Range Input
==========================================================================================
*/

input[type="range"] {
  appearance: none;
  background-color: transparent;
  border: none;
  color: transparent;
  width: 100%;
  outline: none;

  &.vertical {
    width: 9rem;
    height: 1.8rem;

    @media (min-width: 1024px) {
      -webkit-appearance: slider-vertical;
      writing-mode: vertical-lr;
      width: 1.8rem;
      height: 9rem;

      &::-moz-range-track {
        width: 0.5em;
        height: 100%;
      }
    }
  }

  &::-webkit-slider-thumb {}
  &::-webkit-slider-runnable-track {}

  &::-ms-thumb {}
  &::-ms-track {}
  &::-ms-fill-lower {}
  &::-ms-fill-upper {}

  &::-moz-focus-outer { border: none; }

  &::-moz-range-thumb {
    background-color: var(--color-primary);
    border: var(--border-base);
    border-radius: var(--border-radius-round);
    width: var(--font-size-base);
    height: var(--font-size-base);
    cursor: pointer;
  }

  &::-moz-range-track {
    background-color: var(--border-color-base);
    border-radius: var(--border-radius-round);
    box-shadow: inset 0 0 0 var(--border-width-base) var(--border-color-light);
    width: 100%;
    height: 0.5em;
  }

  &::-moz-range-progress {}
}
