/*
==========================================================================================
  Animations
==========================================================================================
*/

.animates {
  will-change: opacity, transform;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
