/*
==========================================================================================
  Iconography
==========================================================================================
*/

.svg-icon {
  width: 1em;
  height: 1em;
  pointer-events: none;
}
