/*
==========================================================================================
  Root
==========================================================================================
*/

html,
body {
  min-height: 100vh;
}

html {
  background: var(--color-background);
  font-size: 10px;
  text-size-adjust: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "sidebar"
    "main   "
    "toolbar";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--spacing);
  align-content: start;
  margin: 0 auto;
  padding: var(--spacing);
  background-color: var(--color-background);
  border-left: calc(var(--spacing) / 6) var(--border-style-base) var(--color-primary);
  font-family: var(--font-family-base), var(--font-family-fallback);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  color: var(--color-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  position: relative;
  min-width: var(--width-min);
  max-width: var(--width-max);

  @media (min-width: 1024px) {
    grid-template-areas:
      "sidebar main toolbar"
      ".       main .      ";
    grid-template-columns: minmax(min-content, max-content) 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 0 calc(var(--spacing) * 2);
  }
}

::placeholder { color: var(--color-placeholder); }

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
