/*
==========================================================================================
  Typography
==========================================================================================
*/

.heading {
  margin-left: -0.05em;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-heading);

  &:not(:last-child) { margin-bottom: 0.5em; }
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-style: solid;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;

  &:hover { color: var(--color-primary); }
}

strong,
b {
  font-weight: var(--font-weight-heading);
}

em,
i {
  font-style: italic;
}

u {
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-decoration-style: solid;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
}

small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

sub,
sup {
  vertical-align: initial;
  font-size: initial;
}

@supports (font-variant-position: sub) {
  sub,
  sup {
    vertical-align: baseline;
    font-size: inherit;
  }

  sub { font-variant-position: sub; }

  sup { font-variant-position: super; }
}

pre,
code,
kbd,
samp {
  font-family: var(--font-family-monospace);
  word-wrap: break-word;
}

pre { white-space: pre-wrap; }

code {
  display: inline-block;
  padding: 0 0.375em;
  background-color: var(--color-lightestgray);
  border-radius: var(--border-radius-base);
  vertical-align: top;
}

p,
ul,
ol {
  margin-bottom: 1em;
}
