/*
==========================================================================================
  Variables
==========================================================================================
*/

:root {
  /*
  ==========================================================================================
    Grid
  ==========================================================================================
  */

  --columns-base: 24;

  /*
  ==========================================================================================
    Spacing
  ==========================================================================================
  */

  --spacing: 3.0rem;

  /*
  ==========================================================================================
    Colors
  ==========================================================================================
  */

  --hue-base: 18;

  --hue-primary: var(--hue-base);
  --hue-secondary: calc(var(--hue-primary) + 180);

  --saturation-primary: 72.5%;
  --saturation-secondary: 22.5%;
  --saturation-grayscale: 0%;

  --lightness-primary: 47.5%;
  --lightness-secondary: 22.5%;
  --lightness-border: 0%;

  --lightness-white: 100%;
  --lightness-lightestgray: 87.5%;
  --lightness-lightergray: 75%;
  --lightness-lightgray: 62.5%;
  --lightness-gray: 50%;
  --lightness-darkgray: 37.5%;
  --lightness-darkergray: 25%;
  --lightness-darkestgray: 12.5%;
  --lightness-black: 0%;

  --color-primary: hsl(var(--hue-primary), var(--saturation-primary), var(--lightness-primary));
  --color-secondary: hsl(var(--hue-secondary), var(--saturation-secondary), var(--lightness-secondary));

  --color-white: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-white));
  --color-lightestgray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-lightestgray));
  --color-lightergray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-lightergray));
  --color-lightgray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-lightgray));
  --color-gray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-gray));
  --color-darkgray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-darkgray));
  --color-darkergray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-darkergray));
  --color-darkestgray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-darkestgray));
  --color-black: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-black));

  --color-base: var(--color-secondary);
  --color-background: var(--color-white);

  --color-placeholder: var(--color-gray);
  --color-selection: inherit;

  /*
  ==========================================================================================
    Borders
  ==========================================================================================
  */

  --border-width-base: 0.1rem;
  --border-style-base: solid;

  --border-color-light: hsla(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-border), 12.5%);
  --border-color-base: hsla(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-border), 25%);
  --border-color-dark: hsla(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-border), 37.5%);

  --border-light: var(--border-width-base) var(--border-style-base) var(--border-color-light);
  --border-base: var(--border-width-base) var(--border-style-base) var(--border-color-base);
  --border-dark: var(--border-width-base) var(--border-style-base) var(--border-color-dark);

  --border-radius-base: 0.4rem;
  --border-radius-relative: 0.25em;
  --border-radius-round: 100rem;

  /*
  ==========================================================================================
    Fonts
  ==========================================================================================
  */

  --font-family-base: "Decimal A", "Decimal B", "Decimal";
  --font-family-monospace: monospace;
  --font-family-fallback: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;

  /* font sizes */
  --font-size-xxxxxl: 4.8rem;
  --font-size-xxxxl: 3.6rem;
  --font-size-xxxl: 3.0rem;
  --font-size-xxl: 2.4rem;
  --font-size-xl: 1.8rem;
  --font-size-large: 1.6rem;
  --font-size-base: 1.4rem;
  --font-size-small: 1.2rem;
  --font-size-smaller: 1.0rem;
  --font-size-smallest: 0.8rem;

  /* font weights */
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-book: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;

  --font-weight-base: var(--font-weight-book);
  --font-weight-heading: var(--font-weight-semibold);

  /*
  ==========================================================================================
    Line Heights
  ==========================================================================================
  */

  --line-height-xxxxxl: 1.125;
  --line-height-xxxxl: 1.16667;
  --line-height-xxxl: 1.2;
  --line-height-xxl: 1.25;
  --line-height-xl: 1.33334;
  --line-height-large: 1.5;
  --line-height-base: 1.5;
  --line-height-small: 1.5;
  --line-height-smaller: 1.5;
  --line-height-smallest: 1.5;

  /*
  ==========================================================================================
    Letter Spacings
  ==========================================================================================
  */

  --letter-spacing-base: -0.036em;
  --letter-spacing-heading: calc(var(--letter-spacing-base) * 1.5);

  /*
  ==========================================================================================
    Widths
  ==========================================================================================
  */

  --width-min: 36rem;
  --width-max: 192rem;
}

/* dark mode */
.dark {
  /* rotate primary hue 180 degrees */
  --hue-primary: calc(var(--hue-base) + 180);

  /* alter lightnesses */
  --lightness-primary: 52.5%;
  --lightness-secondary: 97.5%;
  --lightness-border: 100%;

  /* invert grays */
  --color-white: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-black));
  --color-lightestgray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-darkestgray));
  --color-lightergray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-darkergray));
  --color-lightgray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-darkgray));
  --color-gray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-gray));
  --color-darkgray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-lightgray));
  --color-darkergray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-lightergray));
  --color-darkestgray: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-lightestgray));
  --color-black: hsl(var(--hue-secondary), var(--saturation-grayscale), var(--lightness-white));

  /* prefer dark gray background over pure black */
  --color-background: var(--color-lightestgray);
}

@media (min-width: 768px) {
  :root { --spacing: 3.6rem; }
}
