<header class="header" role="banner">
  <%= render PortfolioWeb.Global.PartialView, "_profile.html", conn: @conn %>
  <%= render PortfolioWeb.Global.PartialView, "_headline.html", conn: @conn %>
  <%= render PortfolioWeb.Global.PartialView, "_navigation.html", conn: @conn %>
  <%= render PortfolioWeb.Global.PartialView, "_email.html", conn: @conn %>
  <%= render PortfolioWeb.Global.PartialView, "_social.html", conn: @conn, modifier: "text-xl" %>
  <%= render PortfolioWeb.Global.PartialView, "_location.html", conn: @conn %>
</header>
