<section data-area="headline">
  <p class="text-contain">Passionate generalist and creative problem solver. Self-directed, engaged team member and leader. Currently consulting at Arity One.</p>
</section>
