<section data-area="legal">
  <ul class="list list-inline text-smaller color-lightgray">
    <li>Drew Fravert &copy; <%= DateTime.utc_now.year %></li>
    <!-- <li><%# link "Info", to: Routes.public_page_path(@conn, :colophon) %></li> -->
  </ul>
</section>
