<section data-area="legal">
  <p class="text-smaller color-lightgray">I use a handful of edge technologies on this site so it may not work well everywhere. ¯\_(ツ)_/¯</p>
  <p class="text-smaller color-lightgray">Drew Fravert &copy; <%= DateTime.utc_now.year %></p>
</section>
