<section data-area="location">
  <%= link to: "https://www.google.com/maps/place/Birmingham,+AL/", rel: "noreferrer" do %>
    <i class="fas icon-map-marker-alt mr-2"></i>Birmingham,&nbsp;AL
  <% end %>
</section>
