<nav class="hidden navigation" role="navigation">
  <ul class="list list-inline">
    <li><%= link "Resume", to: Routes.public_page_path(@conn, :resume) %></li>
    <li><%= link "Uses", to: Routes.public_page_path(@conn, :uses) %></li>
  </ul>
</nav>
