<section>
  <h2 class="heading text-uppercase color-primary">Overview</h2>
  <p>Product manager with over 10 years of experience in a variety of industries and roles with an emphasis on building effective products, systems and tools that engage people through cohesive branding and intuitive, accessible interfaces. An enthusiastic generalist and creative problem solver with a background in film, advertising, UI / UX design, full stack software engineering, product strategy, data / financial analysis, sales, operations and organizational leadership. A self-directed, engaged team member and leader, motivated to be among communities of individuals who support and challenge personal growth and do right by them.</p>
</section>
