<ul class="list list-inline">
  <li class="list-item color-darkgray">Product Manager</li>
  <li class="list-item color-darkgray">Software Developer</li>
  <li class="list-item color-darkgray">UI + IX Designer</li>
</ul>
