<ul class="social <%= @modifier %>">
  <li class="platform">
    <%= link to: "https://linkedin.com/in/drewfravert" do %>
      <i class="fab icon-linkedin"></i>
    <% end %>
  </li>
  <li class="platform">
    <%= link to: "https://github.com/drewfravert" do %>
      <i class="fab icon-github"></i>
    <% end %>
  </li>
  <li class="platform">
    <%= link to: "https://twitter.com/drewfravert" do %>
      <i class="fab icon-twitter"></i>
    <% end %>
  </li>
</ul>
