<div class="tab" data-tab="summary">
  <h2 class="heading text-xl color-primary">Summary</h2>
  <p>Product manager with 10+ years experience in a variety of industries and roles in Chicago and Birmingham with an emphasis on developing effective information systems and tools that engage people through cohesive branding and intuitive, accessible interfaces. A passionate generalist and creative problem solver with a background in film production, UI / IX design, full stack software development, digital strategy, product management, data analysis, sales and organizational leadership. A self-directed, engaged team member and leader, motivated to be among communities of individuals who support and challenge personal growth and to do right by them.</p>
</div>
