<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title><%= assigns[:page_title] || "Drew Fravert | Product Manager, Software Developer, UI + IX Designer" %></title>
<meta name="description" content="An over-engineered portfolio site.">
<meta name="author" content="Drew Fravert">
