<meta property="og:type" content="website">
<meta property="og:site_name" content="Portfolio">
<meta property="og:url" content="https://fravert.dev/">
<meta property="og:title" content="Drew Fravert">
<meta property="og:description" content="A personal, over-engineered portfolio site.">
<meta property="og:image" content="/images/icon.png">
<meta property="og:image:alt" content="Logo">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@drewfravert">
