<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <%= render "metadata.html", conn: @conn %>
    <%= render "preconnections.html", conn: @conn %>
    <%= render "icons.html", conn: @conn %>
    <%= render "opengraph.html", conn: @conn %>
    <%= render "security.html", conn: @conn %>
    <%= render "styles.html", conn: @conn %>
    <%= render "fonts.html", conn: @conn %>
  </head>
  <body>
    <%= render PortfolioWeb.Global.PartialView, "_sidebar.html", conn: @conn %>
    <%= @inner_content %>
    <%= render PortfolioWeb.Global.PartialView, "_toolbar.html", conn: @conn %>
    <%= render "scripts.html", conn: @conn %>
  </body>
</html>
