/*
==========================================================================================
  Buttons
==========================================================================================
*/

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 0.5);
}

button,
.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-style: solid;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  user-select: auto;

  &:disabled {
    text-decoration: none;
    cursor: text;
  }

  &:not(:disabled) {
    &:hover { color: var(--color-primary); }
  }

  &.button-base {
    padding: 0.5em 1em;
    background-color: var(--color-background);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-border-base);
    color: var(--color-base);
    text-decoration: none;
    user-select: none;

    &:disabled { cursor: default; }

    &:not(:disabled) {
      &:hover {
        box-shadow: var(--box-shadow-border-dark);
        color: inherit;
      }

      &:active {
        background-color: var(--border-color-light);
        box-shadow: var(--box-shadow-border-base);
      }
    }
  }

  &.button-xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }

  &.button-large {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }

  &.button-small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }

  &.button-smaller {
    font-size: var(--font-size-smaller);
    line-height: var(--line-height-smaller);
  }

  &.button-smallest {
    font-size: var(--font-size-smallest);
    line-height: var(--line-height-smallest);
  }

  @media (min-width: 1024px) {
    &[data-tooltip] {
      &:hover {
        &::before { content: attr(data-tooltip); }
      }

      &::before {
        padding: 0.5em 1em;
        background-color: var(--color-background);
        box-shadow: var(--box-shadow-border-base);
        border-radius: var(--border-radius-base);
        font-size: var(--font-size-smaller);
        font-weight: var(--font-weight-medium);
        color: var(--color-base);
        line-height: var(--line-height-smaller);
        text-transform: uppercase;
        white-space: nowrap;
        position: absolute;
        top: calc(50% + 0.25em - (var(--font-size-smaller) * var(--line-height-smaller)));
        right: calc(100% + 1em);
      }
    }
  }
}
