/*
==========================================================================================
  Buttons
==========================================================================================
*/

button,
.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  user-select: none;

  &:disabled {
    background-color: var(--color-gray);
    color: var(--color-darkergray);
    cursor: default;
  }

  &:not(:disabled) {
    &:hover { color: var(--color-primary); }

    &:active {}
  }

  &.button-base {
    padding: 0.5em 1em;
    background-color: var(--color-white);
    border-radius: var(--border-radius-relative);
    color: var(--color-base);
  }

  &[data-tooltip] {
    &:hover {
      &::before { content: attr(data-tooltip); }
    }

    &::before {
      padding: 0.5em 1em;
      background-color: var(--color-background);
      box-shadow: inset 0 0 0 var(--border-width-base) var(--border-color-light),
                  0 0.1em 0.2rem -0.1rem var(--border-color-light);
      border-radius: var(--border-radius-base);
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-medium);
      color: var(--color-base);
      line-height: var(--line-height-small);
      white-space: nowrap;
      position: absolute;
      top: calc(50% - 1.5rem);
      right: calc(100% + 1em);
    }
  }
}
