/*
==========================================================================================
  Buttons
==========================================================================================
*/

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 0.5);
}

button,
.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-style: solid;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  user-select: auto;

  &:disabled {
    text-decoration: none;
    cursor: text;
  }

  &:not(:disabled) {
    &:hover { color: var(--color-primary); }
  }

  &.button-base {
    padding: 0.5em 1em;
    background-color: var(--color-white);
    border: var(--border-base);
    border-radius: var(--border-radius-base);
    color: var(--color-base);
    text-decoration: none;
    user-select: none;

    &:disabled { cursor: default; }

    &:not(:disabled) {}
  }

  @media (min-width: 1024px) {
    &[data-tooltip] {
      &:hover {
        &::before { content: attr(data-tooltip); }
      }

      &::before {
        padding: 0.5em 1em;
        background-color: var(--color-background);
        box-shadow: inset 0 0 0 var(--border-width-base) var(--border-color-light),
                    0 0.1em 0.2rem -0.1rem var(--border-color-light);
        border-radius: var(--border-radius-base);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-medium);
        color: var(--color-base);
        line-height: var(--line-height-small);
        white-space: nowrap;
        position: absolute;
        top: calc(50% - 1.5rem);
        right: calc(100% + 1em);
      }
    }
  }
}
