/*
==========================================================================================
  Modals
==========================================================================================
*/

.modal {
  display: none;
  grid-template-areas:
    ". .      ."
    ". window ."
    ". .      .";
  grid-template-columns: 1fr minmax(min-content, 64rem) 1fr;
  grid-template-rows: 1fr auto 2fr;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;

  &::before {
    content: "";
    display: block;
    background-color: hsla(0, 0%, 0%, 75%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
  }

  &.active { display: grid; }

  .modal-window {
    display: grid;
    grid-area: window;
    grid-template-areas:
      ".    x"
      "body .";
    grid-template-columns: 1fr auto;
    margin: var(--spacing);
    padding-left: calc(var(--spacing) * 0.83334);
    background-color: var(--color-background);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-border-light);
    position: relative;
    z-index: 2;
    overflow: scroll;

    .close-modal {
      grid-area: x;
      padding: calc(var(--spacing) * 0.16667);
      font-size: calc(var(--spacing) * 0.5);
      position: sticky;
      min-width: calc(var(--spacing) * 0.83334);
      top: 0;
    }

    .modal-body {
      display: grid;
      grid-area: body;
      padding-bottom: calc(var(--spacing) * 0.83334); /* overflow padding bottom fix */
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);

      .modal-header {
        padding-bottom: calc(var(--spacing) * 0.5);
        border-bottom: var(--border-light);
      }

      .modal-section {
        padding: calc(var(--spacing) * 0.5) 0;

        &:first-child { padding-top: 0; }

        &:last-child { padding-bottom: 0; }

        &:not(:last-child) { border-bottom: var(--border-light); }

        &.no-border {
          padding-bottom: 0;
          border-bottom: none;
        }
      }

      .modal-footer { padding-top: calc(var(--spacing) * 0.5); }
    }
  }
}
