/*
==========================================================================================
  Settings
==========================================================================================
*/

.setting {
  display: grid;
  grid-template-areas:
    "name        control"
    "description description";
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 0 var(--spacing);

  .setting-name { grid-area: name; }

  .setting-description { grid-area: description; }

  .setting-control {
    grid-area: control;
    margin-top: 0.15rem;
  }
}
