/*
==========================================================================================
  Social
==========================================================================================
*/

.social {
  display: flex;
  align-items: center;
  gap: 0.66667em;
  margin-bottom: 0;
  list-style-type: none;

  .platform {
    padding: 0;

    &:hover {
      a { color: var(--color-primary); }
    }

    a { color: var(--color-link); }
  }
}
