/*
==========================================================================================
  Tables
==========================================================================================
*/

table {
  border-collapse: collapse;
  width: 100%;

  thead {
    text-align: left;

    tr {}

    th {}
  }

  tbody {
    tr {
      &:first-child {
        td { padding-top: 0; }
      }

      &:last-child {
        td { padding-bottom: 0; }
      }

      &:not(:last-child) {
        td { border-bottom: var(--border-light); }
      }
    }

    td {
      padding: calc(var(--spacing) * 0.25) 0;

      &:first-child {
        padding-right: calc(var(--spacing) * 0.5);
        white-space: nowrap;
      }

      &:last-child { width: 75%; }
    }
  }
}
