/*
==========================================================================================
  Tables
==========================================================================================
*/

table {
  border-collapse: collapse;
  width: 100%;

  &.compact {
    th, td { padding-bottom: 0.25em; }

    td { padding-top: 0.25em; }
  }

  &.cozy {
    th, td { padding-bottom: 0.5em; }

    td { padding-top: 0.5em; }
  }

  &.no-border {
    tbody {
      tr {
        &:first-child {
          td { border-top: none; }
        }

        td { border: none; }
      }
    }
  }

  th, td {
    padding-bottom: 0.75em;
    padding-right: 1.5em;

    &:last-child { padding-right: initial; }
  }

  td { padding-top: 0.75em; }

  thead {
    text-align: left;

    tr {
      th { font-weight: var(--font-weight-heading); }
    }
  }

  tbody {
    tr {
      &:first-child {
        td { border-top: var(--border-light); }
      }

      td { border-bottom: var(--border-light); }
    }
  }
}
