/*
==========================================================================================
  Tabs
==========================================================================================
*/

.tabs {
  .tabs-menu { margin-bottom: calc(var(--spacing) * 0.5); }

  .tabs-content {
    .tab {
      display: none;

      &.active { display: block; }
    }
  }
}
