/*
==========================================================================================
  Main
==========================================================================================
*/

main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing);
  align-content: start;

  @media (min-width: 1024px) { padding: var(--spacing) 0 calc(var(--spacing) * 2); }

  article {
    display: grid;
    grid-column: span 4;
    gap: var(--spacing);
    max-width: 50em;
  }
}
