/*
==========================================================================================
  Toolbar
==========================================================================================
*/

.toolbar {
  display: grid;
  grid-area: toolbar;
  grid-template-areas: "scheme accent random reset . top";
  grid-template-columns: repeat(4, auto) 1fr auto;
  gap: calc(var(--spacing) * 0.5);
  align-content: start;
  padding-top: var(--spacing);
  border-top: var(--border-light);

  @media (min-width: 1024px) {
    grid-template-areas:
      "scheme"
      "accent"
      "random"
      "reset "
      ".     "
      "top   ";
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto) 1fr;
    justify-items: center;
    padding-top: 0;
    border-top: none;
    position: sticky;
    min-height: calc(100vh - (var(--spacing) * 2));
    top: var(--spacing);
  }

  [data-area="scheme"] { grid-area: scheme; }

  [data-area="accent"] { grid-area: accent; }

  [data-area="random"] { grid-area: random; }

  [data-area="reset"] { grid-area: reset; }

  [data-area="top"] { grid-area: top; }
}
