/*
==========================================================================================
  Top
==========================================================================================
*/

.top {
  grid-area: top;
  align-self: end;

  @media (min-width: 1024px) {
    position: sticky;
    bottom: var(--spacing);
  }
}
